{% extends 'profile_todo/base.html' %}


<body>
{% block site_content %}
    {% if todos %}
        <ul>
            {% for todo in todos %}
                <li>{{ todo.title|upper }}
                    <button   class="btn btn-light"><a href="{% url 'details' pk=todo.pk %}">Details</a></button>
                    <button   class="btn btn-light"><a href="{% url 'edit' pk=todo.pk %}">Edit</a></button>
                    <button   class="btn btn-light"><a href="{% url 'delete' pk=todo.pk %}">Delete</a></button>
                </li>
                <p>

                </p>
            {% endfor %}
        </ul>
    {% else %}

        <div class=class="form">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary" type="submit">Submit form</button>

            </form>


        </div>
    {% endif %}
{% endblock %}
</body>
</html>